.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.btn-link {
    background-color: rgb(220, 1, 1);
    border-color: black;
    color:black;
    font-size: larger;
    text-shadow: antiquewhite;
    text-size-adjust: 100px;
    block-size: 100px;
    border-radius: 50%;
    font-size: x-large;
    text-decoration: none;
}



body {
    size: 10px;
    color: rgb(0, 0, 0);
    background-image: url(1614129702_2-p-fon-iz-znakov-voprosa-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}

.card-header {
color: blue;
font-size: xx-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}



.btn-info {
    color: #fff;
    background-color: #000000;
   
}